<mat-icon class="actions" [matMenuTriggerFor]="menu">more_vert</mat-icon>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editLesson()">
    {{ 'lesson_actions_edit' | translation }}
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-menu-item (click)="duplicateLesson()">
    {{ 'lesson_actions_duplicate' | translation }}
    <mat-icon>content_copy</mat-icon>
  </button>
  <button mat-menu-item class="danger" (click)="deleteLesson()">
    {{ 'lesson_actions_delete' | translation }}
    <mat-icon>delete</mat-icon>
  </button>
</mat-menu>
