:host {
  position: relative;
}

wrapped-carousel {
  height: 100%;
  border-radius: var(--border-radius3);

  schedule-lesson {
    min-width: 100%;
    flex-grow: 1;
    scroll-snap-align: start;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

schedule-lesson {
  max-width: 100%;
}

.item {
  position: relative;
  display: flex;
  flex-grow: 1;
}

schedule-lesson-actions {
  position: absolute;
  top: var(--indent1);
  right: var(--indent1);
  z-index: 2;
}
